body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.btn {
    display: grid;
    grid-template-columns: repeat(3, 105px);
    gap: 5px
}
.buttons {
    width: 100px;
    height: 100px;
    background-color: none;
    border: 1px black so;
}